/* CSS Document */
@charset "utf-8";

@media screen and (min-width: 980px) {
h1 img {
	height: 320px;
	margin: 50px auto;
}
.main-wrapper {
	width: 860px;
	padding: 30px 0;
	border: solid 20px black;
}
h3 {
	font-size: 1.8em;
	line-height: 1.8em;
}
.paper p {
	font-size: 1.4em;
	line-height: 1.6em;
}
#paper1, #paper2, #paper4 {
	width: 600px;
	height: 200px;
}
#paper1 {
	position: relative;
	left: -50px;
	transform: rotate(-1.5deg);
}
#paper2 {
	position: relative;
	left: 50px;
	transform: rotate(1.5deg);
}
#paper3 {
	width: 720px;
}
#paper3 dl {
	width: 200px;
	height: 150px;
	display: inline-block;
	margin: 10px;
}
#paper3 dt {
	text-align: center;
	font-size: 1.2em;
	padding: 10px 0;
}
#paper3 dd {
	margin: 0;
	text-indent: 0;
	line-height: 2em;
	position: relative;
	margin-top: 15px;
}
.admin {
	font-size: 1em;
}
.pc-m {
	background-color: rgba(255,196,224,1)
}
.pc-c {
	background-color: rgba(141,225,244,1);
}
.pc-y {
	background-color: rgba(255,231,169,1);
}
strong {
	color: red;
	font-size: 2em;
}
}
