/* CSS Document */
@charset "utf-8";

body{
	font-family: "ヒラギノ角ゴ W7 JIS2004", sans-serif;
}

nav ul{
	background-color: rgba(43,43,43,1.00);
	color: rgba(255,255,255,1.00);
	list-style: none;
	display:flex;
	padding-left:0;
}

nav li{
	justify-content: center;
	margin:auto;
}

h1{
	text-align: center;
	margin:auto;
}

.main-wrapper{
	background-image: url(danball.jpg);
	margin:auto;
	border: solid 20px black;
}

.paper{
	background-image: url(paper.jpg);
	text-align: center;
	padding: 10px;
	margin: 20px;
	border-bottom: solid 2px rgba(95,95,95,0.80);
	margin:50px auto;
}

h2{
	display: inline-block;
	text-align: center;
	border-bottom: 1px solid red;
	padding:0px;
	margin: auto;
}


dl{
	background-color: rgba(255,123,186,1.00);
	margin:10px;
	border-bottom: solid 1px rgba(95,95,95,0.80);
}

.admin{
	font-size:0.5em;
}


