/* CSS Document */
@charset "utf-8";
body {
	font-family: "GSanSerif-B", sans-serif;
	background-image: url("nilaken_bg.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
}
nav ul {
	background-color: rgba(43,43,43,1.00);
	color: rgba(255,255,255,1.00);
	list-style: none;
	display: flex;
	padding-left: 0;
}
nav li {
	justify-content: center;
	margin: auto;
}
h1 {
	text-align: center;
	margin: auto;
}
.main-wrapper {
	background-image: url(danball.jpg);
	margin: auto;
}
.paper {
	background-image: url(paper.jpg);
	text-align: center;
	padding: 10px;
	margin: 20px;
	border-bottom: solid 2px rgba(95,95,95,0.80);
	margin: 50px auto;
}
p{
	vertical-align: middle;
}
h2 {
	display: inline-block;
	text-align: center;
	border-bottom: 1px solid red;
	padding: 0px;
	margin: auto;
	font-family: "GSanSerif-U", sans-serif;
}
#paper3 dl{
	font-family: "Cinema Letter", sans-serif;
	border-bottom: solid 1.5px rgba(95,95,95,0.80);
}
a:link{
	color: rgba(0,0,0,1);
}
a:visited{
	color: rgba(0,0,0,1);
}
a:hover{
	color: rgba(50,50,50,1);
}
